{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="cv-list__item">
  {% if post.link %}
    <a href="{{ post.link }}">{{ title }}</a>
  {% else %}
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
  {% endif %}
  {% if post.venue %} — {{ post.venue }}{% endif %}
  {% if post.date %} ({{ post.date | date: "%Y" }}){% endif %}
  {% if post.defense_date %}<br>Completed. Defended {{ post.defense_date | date: "%d %B %Y" }}.{% endif %}
  {% if post.grade %} Grade: {{ post.grade }}.{% endif %}
</li>
